@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  @apply min-h-screen font-roboto;
}

.homeBtn {
  @apply p-3 bg-header hover:bg-tertiary text-background text-center border-2 border-black w-1/2 rounded-xl
}

.store-grid {
  display: grid;
  grid-template-columns: 15em auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

.display-grid {
  display: grid;
  grid-template-rows: 40em;
  grid-template-columns: auto auto-fit;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

.wrenchAnimation:hover {
  animation-name: my-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes my-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(1deg);
  }
  ,
  100% {
    transform: rotate(50deg);
  }
}
.animate-test :hover {
  animation: spin 1s linear infinite;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
